/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}
/*reset ends*/

:root {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	--bondi-blue: #0396b7;
	--powder-blue: #b0e0e6;
}
h1 {
	line-height: 2.5rem;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}

main {
	display: flex;
	flex-grow: 1;
}

content {
	flex-grow: 1;
}

/* --------- Non-flexbox related styles --------- */

.child {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1%;
	padding: 20px;
	font-size: 20px;
	line-height: 20px;
	color: #ffe8c3;
	background-color: #eab768;
	border-radius: 10px;
	border: 10px solid #f5cc8b;
}

.grid {
	display: grid;
	align-content: center;
	justify-items: center;
	grid-template-columns: repeat(3, calc(100% / 3));
	grid-template-rows: repeat(3, calc(100% / 3));
	gap: 20px;
	margin: 1%;
	padding: 20px;
	font-size: 20px;
	line-height: 20px;
	color: #cbdeff;
	background-color: #eab768;
	border-radius: 10px;
	border: 10px solid #eab768;
}

button,
input[type="submit"] {
	padding: 5px 10px;
	border: 2px solid #cbdeff;
	border-radius: 10px;
	background-color: #cbdeff;
	color: #a00c4d;
	max-height: 40px;
}

.buttons {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

#newBookBtn {
	align-self: flex-start;
}

input {
	border: 2px solid#000;
	border-radius: 5px;
	margin-bottom: 10px;
}

input:invalid {
	border-color: #900;
	background-color: #fdd;
}

input:invalid ~ label {
	color: #900;
}

input:focus:invalid {
	color: #900;
	background-color: #fff;
}

input:focus:invalid ~ label {
	color: #900;
}

dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	max-width: 500px;
}

form {
	display: flex;
	flex-direction: column;
}

fieldset {
	border: 2px solid #000;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 10px;
}

label {
	display: block;
}

dialog::backdrop {
	backdrop-filter: blur(3px);
}

card {
	flex: 1;
	width: 90%;
	padding: 15px;
	background-color: #a00c4d;
	border: none;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}
