/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
/*reset ends*/

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --bondi-blue: #0ca3b3;
  --powder-blue: #b0dae2;
}

body {
  background-color: var(--bondi-blue);
  display: flex;
  flex-direction: column;
}

header {
  height: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--powder-blue);
  font-weight: 700;
  font-size: 1.5rem;
}

main {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}

table,
tr,
td {
  border-collapse: collapse;
  border: 2px solid #fff;
  text-align: center;
}

td {
  padding: 10px;
}

th {
  border: 3px solid #fff;
}

input {
  border: none;
  border: 2px solid var(--bondi-blue);
  border-radius: 5px;
}
button,
input[type='submit'] {
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: var(--powder-blue);
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
}
form {
  display: flex;
  flex-direction: column;
}
